html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑"
}
.clear-fix:after{
	content:".";
	display: block;
	clear: both;
	height:0;
	overflow: hidden;
	visibility: hidden;
}
.clear-fix{
	zoom:1;
}
ul,ol,li{
	list-style: none;
}
em,i{
	font-style: normal;
}
b,strong{
	font-weight: normal;
}
a,u{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
	font-size: 16px;
}
img{
	display: block;
	border: 0;
}
input{
	outline: none;
	border: 0;
}
