@import "common/common.scss","common/header.scss","common/footer.scss";
.container{
	width: 1240px;
	margin: 0 auto;
}
body{
    background: #F4F6FA;
}
#header{
   background: #fff;
   height: 80px;
    .head{
        position: relative;
        height: 80px;
        box-sizing: border-box;
    
    h1{
            width: 150px;
            // height: 60px;
            margin-right: 70px;
            float: left;
            .logo{
                display: block;
                float: left;
                width: 125px;
                height: 30px;
                margin-top: 7px; 
                margin-left: 12px;
                font-size: 26px;
                line-height: 24px;
                color: #00bfff;
            }
        }
      .ul{
            width: 500px;
            height: 80px;
           li{
               line-height: 80px;
           }
            a{
                float: left;
                color: #333;
             }
            }
        .ul_right{
            position: absolute;
           right: 0;
           top: 0;
            li{
                line-height: 80px;
                float: left;
                color: #666;
                padding: 0 20px;
            }
        }
    }
}
#main{
    width: 100%;
    min-height: 440px;
    background: #f5f5f5;
    .content{
        .gouwu{
            position: relative;
            margin:10px;
            width: 1203px;
            min-height: 360px;
            background: #fff;
            
            .gwc{
               position: absolute;
               left: 40%;
                height: 123px;
                top: 115px;
              
            img{
               float: left;
                display:inline-block;
                width: 120px;
                height: 135px;
            
             }
            .aa{
                float: left;
              span{
                  display: block;
                  font-size: 18px;
                  margin-bottom: 15px;
              }
              p{
                  display: block;
                  font-size: 12px;
                  margin-bottom: 20px;
              }
              a{
                  display: block;
                  width: 130px;
                  height: 36px;
                  color: #fff;
                  line-height: 36px;
                  background: #00c3f5;
                  text-align: center;
                 
              }
            }
        }
        }
    }
}
#title{
    width: 1203px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    padding-left: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
}
#title span{
    font-size: 12px;
    margin-left: 100px;
    color: #ccc
}
#title .lastsp{
    color: #0BBBEF;
    cursor: pointer;
}
#title .inp{
    display: inline-block;
    margin-right: 500px
}
#show_car{
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    width: 1203px;
    height: 170px;
    margin: 0 auto;

}
#show_car{
    padding-top: 10px;
}
#show_car .addprice{
    display: inline-block;
    font-size: 12px;
    color: #E02B41;
    width: 50px;
    height: 18px;
    border: 1px solid #E02B41;
    line-height: 18px;
    text-align: center;
    margin-right: 10px;
}
#show_car .content{
    font-size: 12px;
    color: #595959;
}
#show_car .nowBuy{
    color: #0BBBEF;
    font-size: 12px;
    cursor: pointer;
    margin-left: 6px;
}
#show_car .show_wrap{
    width: 100%;
    height: 100px;
    background: #fff;
    margin-top: 20px;
    position: relative;
}
#show_car .bgsp{
    width: 60px;
    height: 70px;
    background: #fff url(../images/bgsp.png) no-repeat;
    background-size: 60px 70px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 40px;
}
#show_car .inp{
    position: absolute;
    top: 45%;
}
#show_car .details{
    display: inline-block;
    width: 250px;
    height: 60px;
    position: absolute;
    top: 30px;
    left: 130px;
}
#show_car .details .desp{
    font-size: 12px;
    color: #8C8C8C;
}
#show_car .pricesp{
    position: absolute;
    left: 645px;
    top: 40px;
}
#show_car .add{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 775px;
    top: 40px
}
#show_car .add span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}
#show_car .add a{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 20px;
    color: #000;
    &:hover{
        text-decoration: none;
    }
}
#show_car .xiaoji{
    position: absolute;
    left: 930px;
    top: 40px;
    color: #E02B41;
}
#show_car .bianji{
    position: absolute;
    // text-align: center;
    left: 1062px;
    top: 30px;
    cursor: pointer;
    em{
        display: block;
        width: 50px;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
}
#footer{
    margin-top: 50px;
    width: 100%;
    background: #fff;
}

