@import "common/common.scss","common/header.scss","common/footer.scss";
.container{
	width: 1240px;
	margin: 0 auto;
}
body{
    background: #F4F6FA;
}
#header{
    position: relative;
    top: 0;
    left: 0;
   background: #fff;
   height: 80px;
    .head{
        position: relative;
        height: 80px;
        box-sizing: border-box;
    img{
            width: 125px;
            height: 23px;
            padding-top: 28px;
           
        }
    h1{
            width: 150px;
            height: 80px;
            float: left;
           
        }
      .ul{
            width: 500px;
            height: 80px;
           li{
               line-height: 80px;
           }
            a{
                float: left;
                color: #333;
             }
            }
        .ul_right{
            position: absolute;
           right: 0;
           top: 0;
            li{
                line-height: 80px;
                float: left;
                color: #666;
                padding: 0 20px;
            }
        }
    }
}
#main{
    width: 100%;
    position: absolute;
    top: 80px;
    bottom: 246px;
    overflow-y: auto;
    overflow-x: hidden;
    .content{
        .gouwu{
            margin:10px;
            min-height: 360px;
            background: #fff; 
        }
    }
}
#footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
}

