@import "common/common.scss","common/header.scss","common/footer.scss";
.container{
	width: 1240px;
	margin: 0 auto;
}
body{
    background: #F4F6FA;
}
#header{
   background: #fff;
   height: 80px;
    .head{
        position: relative;
        height: 80px;
        box-sizing: border-box;
    img{
            width: 125px;
            height: 23px;
            padding-top: 28px;
           
        }
    h1{
            width: 150px;
            height: 80px;
            float: left;
           
        }
      .ul{
            width: 500px;
            height: 80px;
           li{
               line-height: 80px;
           }
            a{
                float: left;
                color: #333;
             }
            }
        .ul_right{
            position: absolute;
           right: 0;
           top: 0;
            li{
                line-height: 80px;
                float: left;
                color: #666;
                padding: 0 20px;
            }
        }
    }
}
#main{
    width: 100%;
    height: 440px;
    .content{
        .gouwu{
            position: relative;
           margin-top: 10px;
            min-height: 360px;
            background: #fff; 
            .gwc{
               position: absolute;
               left: 40%;
                height: 123px;
                top: 115px;
              
            img{
               float: left;
                display:inline-block;
                width: 120px;
                height: 135px;
            
             }
            .aa{
                float: left;
           
              p{
                  display: block;
                  font-size: 18px;
                  margin:30px 0 20px 0;
              }
              a{
                  display: block;
                  width: 130px;
                  height: 36px;
                  color: #00c3f5;
                  margin-top: 20px;
                  line-height: 36px;
                  border:1px solid #00c3f5;
                  border-radius: 3px;
                  text-align: center;
                 
              }
            }
        }
        }
    }
}
#footer{
    margin-top: 50px;
    width: 100%;
    background: #fff;
}

