@import "common/common.scss","common/header.scss","common/footer.scss";
$bg: #fff;
//banner
body{
	width: 100%;
}
.banner {
	position: relative;
	height: 680px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	.show-images li{
		position: absolute;
		left: 50%;
		margin-left: -1280px;
	}
}
.phone{
	width: 1240px;
	height: 277px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	li{
		float: left;
		a{
			display: inline-block;
			width: 310px;
			height: 186px;
			text-align: center;
			img{
				width: 190px;
				height: 130px;
				margin: 0 auto;
			}
			span{
				display: block;
				font-size: 20px;
				line-height: 30px;
				color: #333;
			}
			em{
				display: block;
				font-size: 14px;
				line-height: 21px;
				color: #9d9d9d;
			}
		}
	}
	
}
#core{
	width: 100%;
	height: 8880px;
	background-color: #f4f4f4;
	border: 1px solid #eee;
	border-right: none;
	border-left: none;
	.phone-poster{
		h2{
			color: #515151;
			text-align: center;
			font-size: 30px;
			line-height: 45px;
			margin: 51px 0 11px 0;
		}
		a{
			display: block;
			width: 100%;
			height: 450px;
			position: relative;
			img{
				position: absolute;
				left: 50%;
				margin-left: -1280px;
				height: 450px;
			}
		}
	}
	.mobile-phone{
		width: 1240px;
		overflow: hidden;
		margin: 0 auto;
		.phone-img{
			width: 615px;
			height: 610px;
			float: left;
			background-color: $bg;
			margin: 11px 9px 0 0;
			text-align: center;
			position: relative;
			span{
				display: block;
				font-size: 28px;
				color: #333;
				line-height: 42px;
				margin-top: 51px;
			}
			em{
				display: block;
				font-size: 18px;
				color: #333f;
				line-height: 27px;
			}
			b{
				display: block;
				color: #d21f1f;
				font-size: 20px;
				line-height: 33px;
			}
			u{
				position: absolute;
				left: 22px;
				top: 30px;
				display: block;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background-color: #ff436b;
				line-height: 60px;
				color: $bg;
			}
			img{
				width: 460px;
				height: 460px;
				margin: 0 auto;
			}
		}
		div:nth-child(2),div:nth-child(3){
			u{
				background-color: #ffab1f;
			}
		}
		div:nth-child(2),div:nth-child(6),div:nth-child(10){
			margin-right: 0;
			
		}
		div:nth-child(4){
			u{
				background-color: #ff436b			
			}
		}
		.phone-min-img{
			position: relative;
			float: left;
			width: 303px;
			height: 375px;
			background-color: $bg;
			margin: 10px 9px 0 0;
			text-align: center;
			img{
				width: 230px;
				height: 230px;
				margin: 30px auto 10px;
			}
			span{
				display: block;
				font-size: 16px;
				color: #333;
				line-height: 24px;
			}
			em{
				display: block;
				font-size: 14px;
				color: #999;
				line-height: 21px;
			}
			b{
				display: block;
				color: #d21f1f;
				font-size: 20px;
				line-height: 33px;
			}
			u{
				position: absolute;
				left: 28px;
				top: 30px;
				display: block;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background-color: #3d8ff7;
				line-height: 60px;
				color: $bg;
			}
		}
	}
	.phone-headset{
		width: 1240px;
		overflow: hidden;
		margin: 0 auto;
		.phone-min-img{
			position: relative;
			float: left;
			width: 303px;
			height: 375px;
			background-color: $bg;
			margin: 10px 9px 0 0;
			text-align: center;
			img{	
				width: 230px;
				height: 230px;
				margin: 30px auto 10px;
			}
			span{
				display: block;
				font-size: 16px;
				color: #333;
				line-height: 24px;
			}
			em{
				display: block;
				font-size: 14px;
				color: #999;
				line-height: 21px;
			}
			b{
				display: block;
				color: #d21f1f;
				font-size: 20px;
				line-height: 33px;
				i{
					font-size: 14px;
					line-height: 21px;
				}
				u{
					font-size: 14px;
					color: #666;
					text-decoration: line-through;
				}
			}
		}
		div:nth-child(4),div:nth-child(8),div:nth-child(12){
			margin-right: 0;
		}
		div:nth-child(1),div:nth-child(5),div:nth-child(9){
			img{
				width: 303px;
				height: 375px;
				margin: 0;
			}
			span{
				position: absolute;
				display: block;
				top: 265px;
				width: 100%;
				font-size: 22px;
				color: $bg;
				line-height: 32px;
			}
			em{
				position: absolute;
				display: block;
				width: 100%;
				margin: 0 auto;
				top: 297px;
				font-size: 14px;
				color: $bg;
				line-height: 21px;
			}
			b{
				position: absolute;
				top: 318px;
				display: block;
				width: 100%;
				color: #00fefb;
				font-size: 24px;
				font-weight: 900;
				line-height: 36px;
				u{
					color: $bg;
				}
			}
		}
		div:nth-child(9){
			b{
				color: #ebce6b;
			}
		}
		
	}
	.live{
		width: 1240px;
		margin: 0 auto;
		overflow: hidden;
		h2{
			color: #515151;
			text-align: center;
			font-size: 30px;
			line-height: 45px;
			margin: 51px 0 11px 0;
		}
		.live-box{
			width: 303px;
			height: 388px;
			background-color: $bg;
			float: left;
			margin: 9px 9px 0 0;
			img{
				width: 303px;
			}
			.live-user{
				padding: 0 15px;
				margin-top: 10px;
				height: 42px;
				img{
					float: left;
					width: 38px;
					height: 38px;
					border-radius: 50%;
					margin-right: 14px;
				}
				u{
					font-size: 14px;
					line-height: 42px;
					color: #6c6c6c;
					float: left;
				}
			}
			p{
				padding: 10px 15px;
				height: 71px;
				font-size: 16px;
				line-height: 28px;
				color: #515151;
			}
			em{
				padding: 0 15px;
				color: #999;
				font-size: 14px;
				line-height: 21px;
			}
		}
		div:nth-child(5),div:nth-child(9){
			margin-right: 0;
		}
		
	}
	.flyme{
		width: 1240px;
		margin: 0 auto;
		overflow: hidden;
		h2{
			color: #515151;
			text-align: center;
			font-size: 30px;
			line-height: 45px;
			margin: 51px 0 11px 0;
		}
		.flyme-img{
			display: inline-block;
			width: 615px;
			height: 245px;
			float: left;
			margin: 9px 9px 0 0 ;
			img{
				width: 100%;
			}
		}
		.flyme-box{
			width: 303px;
			height: 245px;
			float: left;
			margin: 9px 9px 0 0 ;
			background-color: $bg;
			img{
				width: 303px;
				height: 190;
			}
			p{
				width: 303px;
				text-align: center;
				font-size: 16px;
				color: #515151;
				line-height: 55px;
			}
		}
		div:nth-child(4),div:nth-child(8){
			margin-right: 0;
		}
	}
	.videos{
		width: 1240px;
		margin: 0 auto;
		overflow: hidden;
		h2{
			color: #515151;
			text-align: center;
			font-size: 30px;
			line-height: 45px;
			margin: 51px 0 11px 0;
		}
		.videos-box{
			width: 303px;
			height: 245px;
			position: relative;
			background-color: $bg;
			float: left;
			margin: 9px 9px 0 0 ;
			img{
				width: 303px;
				height: 190px;
			}
			p{
				width: 303px;
				text-align: center;
				font-size: 16px;
				color: #515151;
				line-height: 55px;
			}
			span{
				display: block;
				width: 30px;
				height: 30px;
				position: absolute;
				top: 145px;
				right: 15px;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
		div:nth-child(5),div:nth-child(9){
			margin-right: 0;
		}
	}
	
}
