
//引用公共头和尾
@import'common/reg_common.scss';

.pass_main{
    position: relative;
    height: 750px;
    width: 100%;
    background-image: url(../image/zhuce.png);
    .main_box{
        background: #fff;
        width: 368px;
        height: 400px;
        position: absolute;
        right: 85px;
        top: 16%;
        .tab_title{
            width:298px ;
            height:24px ;
            margin: 40px 0 0  35px;
            a{
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #3a7cff;
                margin-left: 82px;
            }

        }
        .txt_box{
            width: 298px;
            height: 43px;
            margin: 60px 0 0 35px;
            font-size: 12px;
            color: #9a9a9a;
        }
        .inp_box{
            border: 1px solid #ddd;
            position: relative;
            width: 298px;
            height: 48px;
            margin: 40px 0 0 35px;
            .password_num{
                width: 200px;
                height: 46px;
                margin-left: 5px;
                float: left;
                border: #ddd;
                font-size: 16px;
                border: 0px;
                outline:none;
                // cursor: pointer;
            }
            #pwd_btn{  
                margin-top: 8px;
                width: 30px;
                height: 30px;
                cursor: pointer;
                margin-right: 5px;
                float: right;
                i{
                    width: 30px;
                    height: 30px;
                    font-size: 22px;
                    line-height: 30px;
                    text-align: center;
                }
            }
        }
        .sub_box{
            width: 298px;
            height: 46px;
            margin: 30px 0 0 35px;
            background:#387aff;
            .sub_btn{
                font-size: 18px;
                color: #fff;
                height: 46px;
                line-height: 46px;
                text-align: center;
                margin-left: 116px;
                background: none;
                border: none;
            }
        }
        .reg_now{
            width: 298px;
            height: 20px;
            margin:10px 0 0  35px;
            a{
                font-size: 18px;
                color: #387aff;
            }
        }
    }
}