
//引用公共头和尾
@import'common/reg_common.scss';
.logS_main{
    position: relative;
    height: 750px;
    width: 100%;
    background-image: url(../image/zhuce.png);
    .logS_box{
        overflow: hidden;
        background: #ffffff;
        width: 368px;
        height: 400px;
        position: absolute;
        right: 85px;
        top: 16%;
        .erwei{
            margin: 20px 0 0 53px;
            display: none;
        }
        .change_win{ 
            width: 35px;
            height: 35px;
            position: absolute;
            top: 3px;
            right: 3px;
            #cha_win{
                font-size: 25px;
                color:#ccc;
                height: 35px;
                line-height: 35px;
                text-align: center;
                margin: 0 0 3px 5px;}}
        .Switch{
            width:298px ;
            height:24px ;
            margin: 20px 0 0  35px;
            .reg_code{
                font-size: 18px;
                line-height: 24px;
                text-align: center; 
                color: #000;
                cursor: pointer;
            }
            .reg_qr{
                font-size: 18px;
                line-height: 24px;
                text-align: center; 
                color: #ccc;
                cursor: pointer;
                &:hover{
                    color: #000;
                }
            }
            .register_line{
                color: #B3ABAB;
                display: inline-block;
                border: 2px solid #B3ABAB;
                border-left: 1px;
                height: 10px;
                line-height: 20px;
                margin-right: 32px;
                margin-left: 32px;}

              }
        .inpS_box{
                width: 298px;
                height: 48px ;
                margin: 30px 0 0 35px;
                border: 1px #ddd solid;
                .ipt_account{
                    // width: 233px;
                    height: 20px;
                    float: left;
                    margin: 15px 0 0 10px;
                    font-size: 16px;
                    border: 0px;
                    outline:none;
                    cursor: pointer;
                }
                
            }
        .pas_ver{
            width: 298px;
            height: 24px;
            margin: 0 0 0 35px;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            
        }
        .ipPass_box{
            width: 298px;
            height: 48px ;
            margin: 20px 0 0 35px;
            border: 1px #ddd solid;
            .inp_pass{
                height: 20px;
                float: left;
                margin: 15px 0 0 10px;
                font-size: 16px;
                border: 0px;
                outline:none;
                cursor: pointer;
            }
                
            }
        .vers{
            width: 298px;
            height: 24px;
            margin: 0 0 0 35px;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            
        }
        .log_btn{
            width: 298px;
            height: 46px;
            background: #387aff;
            margin:15px 0 0 35px;
            .btn{
                color: #fff;
                font-size: 16px;
                line-height: 46px;
                text-align: center;
                margin-left: 122px;
                background: #387aff;
                border: none;
                }
            }
        .rememberField{
            width: 298px;
            height: 24px;
            margin:15px 0 0 35px;
            span{
                width: 20px;
                height: 20px;
                float: left;
                margin: 3px 3px 0 3px;
                #remember{
                    width: 16px;
                    height: 16px;
                }
            }
            .getme{
                margin-right: 7px;
                cursor: pointer;
                font-size: 14px;
                color: #7f7f7f;
                float: left;
            }
        }
        .reg_btn{
                width: 298px;
                height: 20px;
                margin:10px 0 0  35px;
                .toreg{
                    font-size: 14px;
                    color: #387aff;
                    float: left;
                    width: 28px;
                    height: 20px;
                    line-height: 20px;
                    text-align:  center;
                }
                .forg{
                    font-size: 14px;
                    color: #387aff;
                    float: right;
                    width: 64px;
                    height: 20px;
                    line-height: 20px;
                    text-align:  center;
                }
            }

        }
      }


    