
//引用公共头和尾
@import'common/reg_common.scss';

.log_main{
    position: relative;
    height: 750px;
    width: 100%;
    background-image: url(../image/zhuce.png);
    .main_box{
        background: #ffffff;
        width: 368px;
        height: 350px;
        position: absolute;
        right: 85px;
        top: 16%;
        .changes{
            width: 35px;
            height: 35px;
            position: absolute;
            top: 3px;
            right: 3px;
            #cha_phone{
                font-size: 25px;
                height: 35px;
                line-height: 35px;
                text-align: center;
                margin: 0 0 3px 5px;
                color: #ccc;
            }
        }
        .tab_title{
            width:298px ;
            height:24px ;
            margin: 20px 0 0  35px;
            a{
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                color: #3a7cff;
                margin-left: 82px;
            }

        }
        .phone_num{
            width: 298px;
            height: 48px ;
            margin: 30px 0 0 35px;
            border: 1px #ddd solid;
            .ar_code{
                height: 48px;
                width: 60px;
                border-right: 1px solid #DDD;
                cursor: pointer;
                float: left;
                .ipt_cycode{
                    height: 22px;
                    width: 30px;
                    margin:12px 5px 0  4px;
                    font-size: 16px;
                    float: left;
                    color: #808080;
                }
                i{
                    float: left;
                    font-size: 18px;
                    margin-top: 12px;
                    color: #808080;
                }

            }
            .ipt_phone{
                // width: 233px;
                height: 20px;
                float: left;
                border: #ddd;
                margin-top: 15px;
                font-size: 16px;
                border: 0px;
                outline:none;
                cursor: pointer;
            }

        }
        .ver{
            width: 298px;
            height: 24px;
            margin: 10px 0 0 35px;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
        }
        .logC_box{
            border: 1px solid #ddd;
            position: relative;
            width: 298px;
            height: 48px;
            margin: 30px 0 0 35px;
            .log_code{
                width: 100px;
                height: 46px;
                margin-left: 5px;
                float: left;
                border: #ddd;
                font-size: 16px;
                border: 0px;
                outline:none;
                cursor: pointer;
            }
            .form-line{
                color: #d9d9d9;
                height: 40px;
                display: inline-block;
                border-left: 1px solid #dadada;
                position: absolute;
                right: 140px;
                top: 5px;
            }
            #btnSendCode1{
               
                height: 48px;
                float: right;
                line-height: 46px;
                text-align: center;
                color: #3a7cff;
                font-size: 16px;
                background: #fff;
                border-style: none;
                margin-right: 20px;
                border: #ddd;
                border: 0px;
                outline:none;
                cursor: pointer;
            }
        }
        .log_box{
            width: 298px;
            height: 46px;
            background: #387aff;
            margin:30px 0 0 35px;
            .log_btn{
                color: wheat;
                font-size: 19px;
                line-height: 46px;
                text-align: center;
                margin-left: 110px;
              }
        }
        .reg_btn{
            width: 298px;
            height: 20px;
            margin:10px 0 0  35px;
            .toreg{
                font-size: 14px;
                color: #387aff;
                float: left;
                width: 28px;
                height: 20px;
                line-height: 20px;
                text-align:  center;
            }
            .forg{
                font-size: 14px;
                color: #387aff;
                float: right;
                width: 64px;
                height: 20px;
                line-height: 20px;
                text-align:  center;
            }
        }
       
    }

}