//head
*{
    margin: 0;
    padding: 0;
}
header{
    height: 88px;
    width: 100%;
    background: #f6f8fb;
    border-top: 1px solid #efefef;
    position: sticky;
    top: 0;
    z-index: 9999;
    section{
        width: 1200px;
        height: 88px;
        margin: 0 auto;
        h1{
            margin-top: 27px;
            font-size: 28px;
            float: left;
        }
        ul{
            float: right;
            margin-top: 33px;
            li{
                padding: 0 25px;
                float: left;
                border-right: 1px solid #dedede;
                a{
                    color: #333333;
                    font-size: 16px;
                }
            }
            .last-li{
                border-right: 0;
            }
            a:hover{
                color: #27b3ff;
            }
        }
    }
}
//phone-shop
#phone-shop{
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    article{
        width: 580px;
        height: 100%;
        float: left;
        .box{
            .show-image{
                img{
                    width: 550px;
                    height: 550px;
                }
            }
            .img-box {
                margin-left: 50px;
                margin-top: 20px;
                li{
                    display: inline-block;
                    margin-right: 35px;
                    img{
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        dl{
            float: left;
            margin-left: 50px;
            margin-top: 30px;
            i{
                font-size: 22px!important;
                color: #bfbfbf;
            }
            dt{
                text-align: right;
            }
            dd{
                color: #bfbfbf;
                font-size: 12px;
                text-align: center;
            }
        }
    }
    aside{
        width: 620px;
        height: 100%;
        float: left;
        h2{
            font-size: 28px;
            font-weight: bolder;
            padding-top: 33px;
            color: #000;
        }
        .phone-name{
            // padding-top: 15px;
            margin-top: 10px;
            span{
                color: red;
                padding: 0 10px;
                font-size: 14px
            }
            .span1{
                border-right: 1px solid red;
            }
        }
        .phone-price{
            width: 100%;
            height: 115px;
            background: #f4f6fa;
            margin-top: 13px;
            padding-top: 15px;
            position: relative;
            h3{
                margin-top: 0px;
                color: #e02b41;
                padding-top: 15px;
                font-size: 38px;
                span{
                    font-size: 22px;
                }
            }
            .p1{
                // margin-top: 10px;
                padding-left: 10px;
                // position: absolute;
                em{
                    width: 80px;
                    height: 25px;
                    background: #f2eaef;
                    display: inline-block;
                    line-height: 25px;
                    text-align: center;
                    color: #e02b41;
                    margin-right: 10px;
                }
                .lefta{
                    color: #e02b41;
                    margin-right: 15px;
                }
                .righta{
                    color: #27b3ff;
                }
                i{
                    color: #000;
                    margin-right: 15px;
                }
            }
            .p-t{
                position: absolute;
                top: 60px;
            }
            .p-b{
                position: absolute;
                top: 95px;
            }
        }
        .phone-sf{
            position: relative;
            padding-top: 15px;
            width: 100%;
            height: 125px;
            border-bottom: 1px dashed #dedede;
            .p2{
                color: #8c8c8c;
                text-indent: 12px;
                font-size: 13px;
                span{
                    margin-left: 15px;
                }
            }
            .p3{
                color: #8c8c8c;
                font-size: 12px;
                float: left;
                text-indent: 70px;
                padding-top: 12px;
                a{
                    color: #27b3ff;
                }
            }
        }
        .option{
            padding-top: 20px;
            .p-classify{
                text-indent: 6px;
                margin-bottom: 10px;
                .on{
                    border: 1px solid #000;
                }
                a{
                    border-radius: 3px;
                    display: inline-block;
                    width: 170px;
                    height: 40px;
                    border: 1px solid #bfbfbf;
                    margin-left: 13px;
                    color: #000;
                    margin-bottom: 10px;
                    line-height: 40px;
                    text-align: center;
                    font-size: 14px;
                }
                .abr{
                    margin-left: 70px;
                }
                i{
                    color: #8c8c8c; 
                }
            }
            .p-stating{
                text-indent: 6px;
                margin-bottom: 10px;
                .on{
                    border: 1px solid #000;
                }
                i{
                    color: #8c8c8c; 
                }
                a{
                    border-radius: 3px;
                    display: inline-block;
                    width: 170px;
                    height: 50px;
                    border: 1px solid #bfbfbf;
                    margin-left: 13px;
                    color: #000;
                    margin-bottom: 10px;
                    // line-height: 40px;
                    text-align: center;
                    font-size: 12px;
                    span{
                        display: block;
                        
                    }
                    .top-sp{
                        font-size: 14px;
                        line-height: 25px;
                        color: #595959;
                    }
                    .bot-sp{
                        color: #8C8C8C;
                        font-size: 12px;

                    }
                }
            }
            .p-bg{
                a{
                    background: url(../image/image1.png) no-repeat 35px
                }
            }
            .number{
                .operation{
                    width: 30px;
                    height: 40px;
                    background: #F7F7F7;
                    display: inline-block;
                    line-height: 40px;
                    text-align: center;
                    font-size: 16px;
                    border: 1px solid #E7E7E7;
                    cursor: pointer;
                }
                .span-num{
                    width: 50px;
                    height: 40px;
                    display: inline-block;
                    text-align: center;
                }              
                .minus{
                    margin-left: 35px;
                }
            }
            .buy{
                display: inline-block;
                width: 180px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 18px;
                border-radius: 5px;
                margin-left: 20px;
                margin-top: 20px;
                border: 1px solid #27b3ff;
            }
            .now{
                background: #27B3FF;
                color: #fff;
            }
        .addcar{
                
                color: #27B3FF;
            }
            .now:hover{
                background: #23A0E5;
            }
            .addcar:hover{
                background: #EEF8FD;
            }
        }
    }
}


//wrap
#wrap{
    width: 100%;
    height: 1070px;
    background: #F4F4F4;
    h4{
        width: 1200px;
        margin: 0 auto;
        height: 40px;
        font-size: 22px;
        color: #000;
        padding-top: 60px;
        font-weight: bold;
    }
    .process{
        display: block;
        width: 1200px;
        height: 500px;
        margin: 0 auto;
        background: #fff;
        img{
            width: 1200px;
            height: 500px;
        }
    }
    .susume{
        margin: 0 auto;
        width: 1200px;
        height: 310px;
        a{
            display: block;
            float: left;
            height: 100%;
            width: 230px;
            background: #fff url(../image/osusume.png) no-repeat 40px 30px;
            background-size: 150px 150px;
            margin-right: 10px;
            .p-name{
                text-align: center;
                color: #000;
                margin-top: 210px;
                font-size: 14px;
            }
            .p-ps{
                text-align: center;
                color: #F35974;
                margin-top: 5px;
                .span-l{
                    border-right: 1px solid #F35974;
                    padding-right: 5px;
                    margin-right: 5px
                }
            }
            .p-price{
                text-align: center;
                color: #F35974;
                font-size: 18px;
                margin-top: 15px;
            }
        }
        a:hover{
            background: #fff url(../image/osusume.png) no-repeat 30px 20px;
            background-size: 170px 170px;
            margin-right: 10px;
            transition: 0.3s;
        }
    }
}
.succes-add-car{
    position: relative;
    top: 35%;
    left: 38%;
    display: none;
    background: #c8c8df;
    width: 22%;
    height: 15%;
    position: fixed;
    z-index: 9999;
    .bg-model-ok{
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        font-size: 22px;
        background: #c8c8df;
        line-height: 22px;
    }
    p{
        font-size: 16px;
        text-align: center;
        margin-top: 40px;
    }
}