@import "common/common.scss","common/header.scss","common/footer.scss";
.container{
	width: 1240px;
	margin: 0 auto;
}
#header{
    width: 100%;
    height: 80px;
    background:orange;
}
#banner{
    background:url(../img/banner.jpg);
    height: 450px;
    background-size:cover;
    background-position: center center;
    .ban{
        margin: 0 auto;
        cursor: pointer;
        }
}
#main{
    height: 3960px;
    background: #f4f4f4;
    position: relative;
    .content{
    h1{
        padding:107px 0  30px 0;
    p{
        float: right;
        font-size: 15px;
        line-height: 30px;
    }
    
    span{
        font-size: 30px;    
    }
    .value::before{
        display: block;
        border: 2px solid #000;
        border-radius: 0;
        border-top: 0;
    }
    }
    
    li:hover  .box .img-box li{
        opacity: 1;
    }
    li{
        width: 402px;
        height: 555px;
        background: #fff;
        float: left;
        display: block;
        margin: 0 10px 10px 0;
        position: relative;
        padding-bottom: 28px;
        box-sizing: border-box;
   
        .box .show-image img {
             display: block;
            padding-top: 40px;
            min-height: 320px;
            max-width: 320px;
            width: 80%;
            margin: 0 auto;
        }
      
        .box .img-box {
            width: 100%;
            height: 40px;
            margin-left: 120px;
            box-sizing: border-box;
        }

         .box .img-box li {
            margin: 10px;
            opacity: 0;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: #000;
        }
        .box .img-box li:nth-child(1){
            background: #000;
        }
        .box .img-box li:nth-child(2){
            background: #f4f4f4;
        }
        .box .img-box li:nth-child(3){
            background:blue;
        }
         .box .img-box li img {
             display: block;
            width: 30px;
            height: 30px;
        }
        
        span{
            display: block;
            position: absolute;
            top: 18px;
            left: 18px;
            width: 60px;
            color: #f4f4f4;
            text-align: center;
            height: 60px;
            line-height: 60px;
            background: #ff910e;
            font-size: 16px;
            border-radius: 50%;
        }
     
      
        h3,p,h2{
            text-align: center;
        }
        h3{
            height: 35px;
            margin-top: 20px;
            
            font-size: 23px;
        }
        p{
            height: 24px;
            color: #666;
        }
        h2{
            height: 35px;
            font-size: 28px;
            color: red;
        }
    
}
    }
    .img{
        img{
        width: 1240px;
        height: 248px;
        margin: 0 auto;
        
        }
    }
    h5{
        font-size: 24px;
        margin-top: 90px;
        margin-bottom: 25px;
        position: relative;
    }
    .main_bottom{
        width: 1240px;
        margin: 0 auto;
        overflow: hidden;
        .swiper-container {
            position: relative;
            width: 1240px;
            height: 450px;
           background: #fff;
          }
          img{
              display: block;
            width: 230px;
            height: 230px;
         }
         img:hover{
            transform: scale(1.1);
         }
          .swiper-slide {
              position: relative;
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
          }
          .swiper-pagination{
            display: block;
            position: absolute;
            left: 50%;
            bottom:1%;
        }
        .swiper-pagination-bullet{
            width: 11px;
            height: 11px;
            margin: 0 5px;
            color: #666;
            border: 0;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background:#666;
            outline: 0;
          }
        h4{
              position: absolute;
              bottom: 68px;
              font-size: 21px;
          }
        p{
            position: absolute;
              font-size: 27px;
              color: red;
              bottom: 21px;
              left: 108px;
        }
    }  
}
#footer{
    width: 100%;
    background: #fff;
    height: 245px;
}